
.apps-section
  margin-top: 200px

  & .blue-title
    top: -148px

  & .swiper-slide
    will-change: transform

  & .swiper-slide:not(.swiper-slide-active)
    opacity: 0.8
    pointer-events: none

  & .swiper-apps
    height: 550px

  & .swiper__custom-wrapper
    position: relative
    width: 100%

.apps-item
  transition: opacity 0.3s ease
  position: relative

  &.inactive
    opacity: 0.7

  & img
    object-position: center
    object-fit: cover
    width: 100%
    height: 100%

  &-desc
    width: 100%
    color: var(--white-01)
    position: absolute
    top: 19px
    left: 50%
    transform: translateX(-50%)
    padding: 0 230px
    z-index: 2

  &-ico
    position: relative

  &-age
    position: absolute
    right: 0
    top: -4px
    border-radius: 12px
    padding: 4px 8px
    background: var(--pink-03)
    font-family: var(--second-family)
    font-weight: 600
    font-size: 20px
    line-height: 140%
    color: var(--white-01)

  &-title
    font-size: 28px
    line-height: 129%
    text-align: center
    margin-bottom: 12px

  &-stars
    gap: 8px

  button
    position: absolute
    left: 50%
    bottom: -70px
    margin-left: -97px

.star
  background: url("/assets/img/star_empty.svg") no-repeat
  height: 28px
  width: 28px

  &.fill
    background: url("/assets/img/star.svg") no-repeat

.apps-item-rate
  margin-bottom: 104px

  & p
    font-family: var(--second-family)
    font-weight: 600
    font-size: 20px
    line-height: 140%
    color: var(--white-01)

section .slider-apps .slick-track
    padding-bottom: 50px

.swiper-apps .swiper-slide
  width: auto
  transition: all 0.2s ease

@media screen and (min-width: 768px)
  .apps-item
    width: 720px
    margin: 0 5px

@media screen and (min-width: 1120px)
  .apps-item
    width: 1016px
    margin: 0 10px

@media screen and (max-width: 1119px)
  .apps-item-ico
    width: 128px
    height: 128px

  .apps-item-desc
    top: 13px
    padding: 0 50px

  .apps-item-age
    right: -7px

  .apps-item-title
    margin-bottom: 8px
    font-size: 27px
    transform: translateY(-5px)

  .apps-section .blue-title
    top: -125px
