
.heroes-section
  margin-top: 210px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  & .swiper-group
    height: 380px
    padding: 70px 0 0

  & .swiper__btns-group
    transform: translate(calc(-50% + 6px), calc(-50% - 26px))

  button
    margin-top: 15px

.hero-item
  position: relative
  margin: 0 9px
  transform: scale(1)
  transition: all 0.2s ease

  &:hover
    transform: scale(1.05)

    .hero-name
      background: var(--pink-04)

  &.inactive
    opacity: 0.7
    pointer-events: none

  & .hero-card
    border-radius: 0 0 36px 36px
    border: 8px solid var(--stroke)
    border-top: 0
    box-shadow: 10px 10px 0 0 rgba(137, 113, 167, 0.51)
    width: 314px
    height: 265px
    position: relative
    z-index: 2
    display: flex
    align-items: flex-end
    justify-content: center

  & .hero-card img
    transform: translateY(9px)

.hero-item.green:before,
.hero-item.green .hero-card
  background: var(--green-04)

.hero-item.blue:before,
.hero-item.blue .hero-card
  background: var(--blue-01)

.hero-item.yellow:before,
.hero-item.yellow .hero-card
  background: var(--yellow-01)

.hero-item.red:before,
.hero-item.red .hero-card
  background: var(--pink-02)

.hero-item:before
  content: ""
  position: absolute
  width: 298px
  height: 54px
  border: 8px solid var(--stroke)
  border-radius: 36px 36px 0 0
  border-bottom: 0
  box-shadow: 10px 10px 0 0 rgba(137, 113, 167, 0.51)
  top: -47px
  left: 0
  transform: skewY(-5deg)
  z-index: 1

.hero-name
  border-radius: 28px
  padding: 16px 32px
  background: var(--blue-04)
  font-family: "315karusel"
  font-weight: 700
  font-size: 36px
  line-height: 122%
  text-align: center
  color: var(--button-text-active)
  position: absolute
  bottom: -35px
  left: 50%
  transform: translateX(-50%)
  z-index: 2
  width: calc(100% - 16px)
  transition: background .2s ease

@media screen and ( max-width: 767px )
  .heroes-section
    button
      margin-top: 5px

@media screen and ( max-width: 1119px )
  .heroes-section
    margin-top: 190px

    .swiper.swiper-group
      padding: 70px 10px 0
