.preview-section
  padding-top: 40px
  padding-bottom: 50px
  text-align: center

  .content
    margin: 530px auto 0
    z-index: 5

  img
    width: 100%
    position: relative
    z-index: 3

  .top
    position: absolute
    left: 50%
    bottom: 293px
    transform: translateX(calc(-50% - 15px))
    max-width: 1162px

  .banner
    width: 1015px
    z-index: 5
    margin: 0 20px

  .blue-title
    top: -116px
    z-index: 4
