.menu
  // padding-top: 25px

.menu-item_text
  position: relative
  z-index: 2

.icon-btn
  width: 58px
  height: 61px
  transition: transform .2s ease
  will-change: transform
  cursor: pointer

  &:hover
    transform: scale(1.07)

  img
    width: 100%
    height: 100%

.header-icons-group
  transform: translateY(-3px)
  z-index: 2

.menu-wrap
  margin-right: -7px

@media screen and (min-width: 300px)
  .header-logo
    width: 141px

  .menu-item
    box-shadow: 10px 10px 0 0 rgba(81, 91, 186, 0.51)
    background: var(--button-text-active)
    padding: 14px 24px 16px
    border-radius: 16px
    margin-top: 16px
    position: relative
    transition: all 0.2s
    will-change: transform
    cursor: pointer
    color: var(--black)
    text-align: center

  .menu-item:hover
    transform: scale(1.07)

  .menu-item:first-of-type
    margin-top: 0

  .menu-item:last-of-type
    margin-right: 0

  .menu-item::before
    content: ""
    position: absolute
    top: -2px
    left: 0
    background: var(--button-text-active)
    height: 20px
    width: 100%
    border-radius: 16px 16px 0 0
    transform: skewY(1.6deg)
    z-index: 1

  .menu-btn
    display: block

  .menu
    position: fixed
    width: 326px
    top: 103px
    bottom: 0
    right: -326px
    z-index: 15
    padding-left: 25px
    transition: transform .3s ease
    transform: translateX(326px)
    will-change: transform

    &.open
      transform: translateX(-342px)

  .menu-wrap
    margin-top: 16px

  .menu-content
    background: #fff
    border-radius: 20px
    padding: 24px 16px

  .icon-btn
    width: 46px
    height: 44px

@media screen and (min-width: 768px)
  .header-logo
    width: 149px

  .menu-wrap
    margin-top: 25px

  .icon-btn
    width: 58px
    height: 61px

@media screen and (min-width: 1120px)
  .header-logo
    width: 240px

@media screen and (min-width: 1400px)
  .menu
    position: relative
    width: auto
    background: none
    display: flex
    align-items: flex-start
    padding-left: 0
    padding-top: 0
    transform: translateX(0)
    right: 0
    top: 0

    &.open
      transform: translateX(0)
      box-shadow: none

  .menu-item
    margin-right: 15px
    margin-top: 0
    text-align: start

  .menu-content
    display: flex
    align-items: flex-start
    background: none
    border-radius: 0
    padding: 0

  .menu-btn
    display: none
