.menu
  // padding-top: 25px

.menu-item_text
  position: relative
  z-index: 2

.icon-btn
  width: 58px
  height: 61px
  transition: transform .2s ease
  will-change: transform
  cursor: pointer

  &:hover
    transform: scale(1.07)

  img
    width: 100%
    height: 100%

.header-icons-group
  transform: translateY(-3px)
  z-index: 2

.menu-wrap
  margin-right: -7px

@media screen and (min-width: 300px)
  .header-logo
    width: 141px

  .menu-item
    box-shadow: 10px 10px 0 0 rgba(81, 91, 186, 0.51)
    background: var(--button-text-active)
    padding: 14px 24px 16px
    border-radius: 16px
    margin-top: 20px
    position: relative
    transition: all 0.2s
    will-change: transform
    cursor: pointer
    color: var(--black)
    text-align: center

  .menu-item:hover
    transform: scale(1.07)

  .menu-item:first-of-type
    margin-top: 0

  .menu-item:last-of-type
    margin-right: 0

  .menu-item::before
    content: ""
    position: absolute
    top: -2px
    left: 0
    background: var(--button-text-active)
    height: 20px
    width: 100%
    border-radius: 16px 16px 0 0
    transform: skewY(1.6deg)
    z-index: 1

  .menu-btn
    display: block
    position: relative

    &.open::after, &.close::after
      content: ''
      position: absolute
      left: 50%
      top: 50%

    &.open::after
      width: 15px
      height: 15px
      background: url('/assets/img/close.svg') no-repeat
      transform: translate(calc(-50% - 3px), calc(-50% - 3px))
      background-size: cover

    &.close::after
      width: 18px
      height: 14px
      background: url('/assets/img/hamburger.svg') no-repeat
      transform: translate(calc(-50% - 3px), calc(-50% - 3px))
      background-size: cover

  .menu
    position: fixed
    width: 100%
    padding: 0 16px
    top: 93px
    bottom: 0
    right: 50%
    z-index: 15
    opacity: 0
    transition: opacity .3s ease
    transform: translateX(50%)
    will-change: opacity
    pointer-events: none

    &.open
      pointer-events: unset
      opacity: 1

  .menu-wrap
    margin-top: 16px

  .menu-content
    background: #fff
    border-radius: 20px
    padding: 24px 16px

  .icon-btn
    width: 46px
    height: 44px

@media screen and (min-width: 768px)
  .header-logo
    width: 149px

  .menu-wrap
    margin-top: 25px

  .icon-btn
    width: 58px
    height: 61px

  .menu-btn
    &.open::after
      width: 19px
      height: 19px
      transform: translate(calc(-50% - 4px), calc(-50% - 4px))

    &.close::after
      width: 25px
      height: 19px
      transform: translate(calc(-50% - 4px), calc(-50% - 4px))

  .menu
    width: 326px
    padding: 0
    right: -326px
    top: 103px
    opacity: 1
    transition: transform .3s ease
    will-change: transform

    &.open
      transform: translateX(-342px)

@media screen and (min-width: 1120px)
  .header-logo
    width: 240px

@media screen and (min-width: 1400px)
  .menu
    position: relative
    width: auto
    background: none
    display: flex
    align-items: flex-start
    padding-left: 0
    padding-top: 0
    transform: translateX(0)
    right: 0
    top: 0
    transition: none

    &.open
      transform: translateX(0)
      box-shadow: none
      top: 0

  .menu-item
    margin-right: 15px
    margin-top: 0
    text-align: start

  .menu-content
    display: flex
    align-items: flex-start
    background: none
    border-radius: 0
    padding: 0

  .menu-btn
    display: none
